%nav.navbar.bg-color-pink-a200.main
  .container-fluid
    .navbar-header
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Inicio", root_path
        -if user_signed_in?
          %li= link_to "Cerrar sesion ", destroy_user_session_path, method: :delete